header, footer {
  margin: 0;
  padding: 8px 4px;
  background: cornflowerblue;
  color: inherit;
}

li {
  display: flex;
  flex-direction: row-reverse;
  border: blue 1px solid;
}

img {
  border: green 1px solid;
}

.thumbnail-title {
  display: flex;
  border: red 1px solid;
  background: rgb(96,125,139);
  color: rgb(202,238,255);
}